 CI Review */
.cifa {
    font-size: 16px;
    width: 1em;
    height: 1em;
    margin-right: 2px;
}
.cirating-input {
	padding-top: 7px;
}
.cireview-wrap .cireview-list{	
	margin-bottom: 15px;
	padding: 0px 15px 0 15px;
}

.cireview-wrap .cireview-aggerate{	
	border: 1px solid #f6f6f8;
	border-bottom: 5px solid rgba(0,0,0,0.1);
	margin-bottom: 15px;
	padding: 0px 15px 0 15px;
	background: #f6f6f8;
}
.cireview-wrap label.control-label {
	font-weight: bold;
	padding: 0;
	text-align: left;
}

.cireview-wrap .cireview-aggerate-title {
	background: rgba(0,0,0,0.1);
	padding: 10px 15px;
}

.cireview-wrap .giverating {
	cursor: pointer;
}

.cireview-wrap .cireview-grid {
	border: 1px solid #ddd;
	margin-bottom: 15px;
	padding: 10px 15px;
	max-height: 450px;
	height: 250px;
	overflow-y: auto;
}
.cireview-wrap .cireviews h3{
	margin-top: 0;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.cireview-wrap .cireviews h4{
	margin-bottom: 7px;
}
.cireview-wrap .cireviews .all-rating ul{
	margin-bottom: 10px;
}
.cireview-wrap .cireviews a {
	color: #444;
}
.cireview-wrap .cireviews .fa-stack{
	width: 1.5em;
	height: 2em;
}
.cireview-wrap .cireviews .average li{
	margin-bottom: 5px;
}
.cireview-wrap .cireviews .all-rating-wrap{
	padding-top: 15px;
	padding-bottom: 15px;
}
.cireview-wrap .cireviews .all-rating-wrap:first-child{
	border-left: none;
}
@media(min-width: 768px){
	.cireview-wrap .cireviews .all-rating .stars{
		float: right;
	}
	.cireview-wrap .cireviews .all-rating-wrap{
		border-left: 1px solid #ddd;
	}
}
@media(max-width: 767px){
	.cireview-wrap .cireviews .all-rating .stars{
		display: inline-block;
	}
	.cireview-wrap .cireviews .all-rating-wrap{
		border-top: 1px solid #ddd;
	}
	.cireview-wrap .cireviews .all-rating-wrap:first-child{
		border-top: none;
	}
}
.cireview-wrap .cireviews .vote-action .btn{
	padding: 3px 3px;
	font-size: 13px;
	border: none;
	box-shadow: unset;
	-webkit-box-shadow: unset;
}
.cireview-wrap .cireviews .vote-action .no-btn{
	color: #ed4747;	
}
.cireview-wrap .cireviews .vote-action .yes-btn{
	color: #72b372;	
}
.cireview-abuse{
	text-align: right;
	cursor: pointer;
}
.cireviewcomment {
    padding: 20px 15px;
    background: #f6f6f8;
    min-height: 80px;
    margin-bottom: 10px;
}
.cireviewcomment label.control-label {
	font-weight: 600;
}
.cireview-product-thumb img{
	display: inline;;
}
.cireview-product-thumb {	
	padding: 15px 20px;
	text-align: center;
}
.cireviewattach_images{
	border-top: 1px solid #ddd;
	padding-top: 10px;
	padding-left: 0;
	list-style: none;
}
@media(min-width: 768px){
	.flex{
		display: flex;
	}
}
#cireview .cireview-list{
	padding: 15px;
	word-wrap: break-word;
}


.cireview-product-thumb .price {
	color: #444;
}
.cireview-product-thumb .price-new {
	font-weight: 600;
}
.cireview-product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.cireview-product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}

#form-cireview .ciattachupload button {
	margin-bottom: 15px;
}
/* Jouranl Css*/
/*.journal-wrap .row{
	margin: 0 -15px;
}
.journal-wrap [class^="col-"],
.journal-wrap [class*=" col-"] {
  padding-right: 15px;
  padding-left: 15px;
}*/
.journal-wrap .cireview-wrap .cireview-aggerate-title{
	margin: 0 -15px;
}
.journal-wrap .j-margin{
	padding-top: 15px; 
	padding-bottom: 15px; 
}
.journal-wrap p{
	margin-bottom: 10px !important;
} 
.journal-wrap .cireview-form h2{
	margin: 10px 0;
}
.journal-wrap .hidden{
	display: none !important;
}
.journal-wrap .text-right {
	text-align: right;
}
.journal-wrap .buttons {
	display: block;
	width: 100%;
	padding: 0;
	background: none;
}
.journal-wrap .form-group:before,
.journal-wrap .form-group:after{
 display: table;
   content: " "; 
}
.journal-wrap .form-group:after{
 clear: both;
}

.ciattachupload:before,
.ciattachupload:after{
 display: table;
   content: " "; 
}
.ciattachupload:after{
 clear: both;
}
.ciattachupload {
	margin: 10px 0;
}
.oc2 #tab-review .journal-wrap .ciratings label, .journal-wrap .ciratings label{
	width: 25%;
}
.oc2 #tab-review .journal-wrap .ciratings label + div, .journal-wrap .ciratings label + div{
	width: 70% ;
}
.journal-wrap .cireview-wrap .cireviews .all-rating-wrap{
	padding: 15px;
}
.journal-wrap .img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.journal-wrap .list-inline{
	margin: 0;
	padding: 0;
	list-style: none;
}
.journal-wrap .list-inline li{
	display: inline-block;
}
.oc2 #tab-review .journal-wrap .fa-stack{
	margin-bottom: 15px;
}
#cireview-graph {
	margin-bottom: 15px;
}
#cireview-graph .n-star{
	display: inline-block;
	vertical-align: top;
	width: 65px;
}
#cireview-graph .cireviewgraph{
	display: inline-block;
	width: 60%;
	vertical-align: middle;
}
#cireview-graph li{
	color: #0066c0;
	cursor: pointer;
}
#cireview-graph li:hover .n-star, #cireview-graph li:hover .progress-value{
	text-decoration: underline;
}
#cireview-graph .progress{
	display: inline-block;
	width: 60%;
	margin-bottom: 0;
	height: 10px;
	box-shadow: inset 0 0px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 0px 5px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 0px 5px rgba(0,0,0,.5);
	border-radius: 0;
}
#cireview-graph .progress .progress-bar{
	background-color: #338714;
}
#cireview-graph .progress-value{
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
}
/*new update starts*/.ciratingcount {
	margin-left: 10px;
}/*new update ends*/
/*cireview latest module starts*/
.cireview-column-wrap .img-responsive {
	width: 100%;
}
.cireview-heading{
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}
.cireview-column-wrap .fa-stack{
	width: 1.5em;
	height: 1em;
}
.cireview-column-wrap .cistars{
	display: inline-block;
}
.cireview-column-wrap .reviewtitle{
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
	font-size: 13px;
	color: #333;
	margin-left: 5px;
}
.cireview-column-wrap .reviewtitle a{
	color: #333;
}
.cireview-column-wrap p{
	margin-bottom: 2px;
	color: #000;
	width: 100%;
	word-wrap: break-word;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.cireview-column-wrap .cireview-grid, .cireview-column-wrap .cireview-list{
	margin-bottom: 20px;
}
.cireview-column-wrap .cipublished{
	color: #9c9c9c;
	width: 100%;
}
.cireview-column-wrap .ciproductname{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
}
.cireview-column-wrap .ciproductname a{
	color: #000;
}
.cireview-column-wrap .cireview-grid .all-rating-wrap{
	margin-bottom: 15px;
	align-items: flex-start;
}
.cireview-column-wrap .cireview-grid .all-rating-wrap .inrating-wrap{
	border: 1px solid #d4bdbd;
	padding: 10px 15px;
	background: #fbfbfb;
}
.cireview-column-wrap .cireview-grid .cireview-product-thumb{
	width: 65px;
	float: left;
	padding: 0 15px 0 0
}
.cireview-column-wrap .cireview-grid .reviewtitle{
	display: block;
	margin-left: 0;
	margin-top: 5px;
}
.cireview-column-wrap .cireview-grid .cistars{
	display: block;
}
/*cireview latest module ends